.backLink {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.backLink:hover {
  color: rgb(137, 133, 132);
}
