.movieItem {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.movieItem:hover {
  transform: scale(1.05);
}
.movieLink {
  display: flex;
  align-items: center;
}
.movieImg {
  width: 60px;
  height: auto;
}

.movieTitle {
  padding: 10px;
  font-size: 16px;
  color: #333;
  text-align: start;
}
.alert {
  font-size: 24px;
  font-weight: 600;
  color: #783838;
}
